<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <target xsi:type="File" name="f" fileName="c:/var/log/scheduler/${shortdate}.log"
                 layout="${longdate} ${uppercase:${level}} ${callsite:includeSourcePath=false}: ${message}${onexception:inner=${newline}${exception:format=ToString}}" />

    <target xsi:type="Console" name="console" layout="${message}"/>
    <target xsi:type="Debugger" name="debugoutput" layout="${uppercase:${level}} ${callsite:includeSourcePath=false}: ${message}"/>
  </targets>

  <rules>
    <!-- add your logging rules here -->

    <logger name="*" minlevel="Trace" writeTo="f" />
   -<logger name="*" minlevel="Trace" writeTo="console" />
    <logger name="*" minlevel="Trace" writeTo="debugoutput" />

  </rules>
</nlog>